<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.inventoryapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".FullCatalogActivity"
            android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditProductsActivity"
            android:label="@string/editor_activity_title_new_book"
            android:theme="@style/EditorTheme"
            android:parentActivityName=".FullCatalogActivity"
            tools:ignore="UnusedAttribute">
            <!-- Parent activity meta-data to support 4.0 and below -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FullCatalogActivity" />
        </activity>
        <provider
            android:name=".data.BookProvider"
            android:authorities="com.example.android.inventoryapp"
            android:exported="false"/>
    </application>

</manifest>